$blue: (
    50 : #f2f4f9,
    100 : #dde4ef,
    200 : #c7d3e5,
    300 : #b1c1db,
    400 : #a0b3d3,
    500 : #8fa6cb,
    600 : #879ec6,
    700 : #7c95be,
    800 : #728bb8,
    900 : #607bac,
    A100 : #ffffff,
    A200 : #e6efff,
    A400 : #b3cdff,
    A700 : #9abdff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
