$green: (
    50 : #eaf3ee,
    100 : #c9e2d4,
    200 : #a6cfb8,
    300 : #82bc9b,
    400 : #67ad85,
    500 : #4c9f70,
    600 : #459768,
    700 : #3c8d5d,
    800 : #338353,
    900 : #247241,
    A100 : #b3ffce,
    A200 : #80ffad,
    A400 : #4dff8c,
    A700 : #34ff7b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
