$latte: (
    50 : #fefefc,
    100 : #fdfcf7,
    200 : #fcfaf1,
    300 : #fbf8eb,
    400 : #faf7e7,
    500 : #f9f5e3,
    600 : #f8f4e0,
    700 : #f7f2dc,
    800 : #f6f0d8,
    900 : #f5eed0,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
