$onyx: (
    50 : #e7e7e7,
    100 : #c3c4c4,
    200 : #9b9c9d,
    300 : #727476,
    400 : #545758,
    500 : #36393b,
    600 : #303335,
    700 : #292c2d,
    800 : #222426,
    900 : #161719,
    A100 : #6ab0f6,
    A200 : #3a96f3,
    A400 : #007dfa,
    A700 : #0070e0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
