$red: (
    50 : #f5e5e6,
    100 : #e6bfc1,
    200 : #d69498,
    300 : #c6696f,
    400 : #b94850,
    500 : #ad2831,
    600 : #a6242c,
    700 : #9c1e25,
    800 : #93181f,
    900 : #830f13,
    A100 : #ffb5b7,
    A200 : #ff8285,
    A400 : #ff4f54,
    A700 : #ff363b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);
